name: Push to Hugging Face Space

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: read

env:
  HF_USERNAME: "BiciMonello"
  HF_SPACE_NAME: "besti"
  BRANCH: "main"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to HF Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          set -e
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git remote add hf "https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/${HF_SPACE_NAME}"
          git push --force hf "${BRANCH}"
